<div class="row panel">
	<div class="medium-4 column form-label">
		<label for="carSelection">Select Car Grouping</label>
	</div>
	<div class="medium-6 column padding-5-top end">
		<select id="carSelection" name="carSelection">
			<option value=""> Select Car Grouping to Compare Models </option>
			<option value="GroupA">Group A through C</option>
			<option value="GroupD">Group D through F</option>
			<option value="GroupG">Group G through J</option>
			<option value="GroupL">Group L through S</option>
			<option value="GroupV">Group V through Z</option>
		</select>
	</div>
</div>

<div class="row margin-10">
	<div id="car-selection-area" class="row animate-slide-right" data-equalizer> </div>
</div>