	<div id="country-selector" class="margin-5"> </div>

	<div id="state-selector" class="margin-5"> </div>

	<div id="rental-selector"> </div>

	<div class="row margin-10">
		<div class="medium-4 column form-label">
			<label for="carSelection">Select Car Grouping</label>
		</div>
		<div class="medium-6 column padding-5-top">
			<select id="car-selector" name="car-selector">
        <option value="GroupA">Group A (Ford Fiesta)</option>
        <option value="GroupB">Group B (Ford Focus)</option>
				<option value="GroupC">Group C (Cheverolet Cruze)</option>
				<option value="GroupD">Group D (Subaru Legacy)</option>
				<option value="GroupE">Group E (Cheverolet Impala)</option>
				<option value="GroupF">Group F (Ford Escape)</option>
				<option value="GroupG">Group G (Ford Taurus)</option>
				<option value="GroupH">Group H (Lincoln MKS)</option>
				<option value="GroupJ">Group J (Ford Mustan)</option>
				<option value="GroupL">Group L (Cheverolet Suburban)</option>
				<option value="GroupP">Group P (Ford Transit)</option>
				<option value="GroupS">Group S (Cheverolet Traverse)</option>
				<option value="GroupV">Group V (Chrystler Town and Country)</option>
				<option value="GroupW">Group W (Ford Edge)</option>
				<option value="GroupZ">Group Z (Cheverolet Tahoe)</option>
			</select>
		</div>
    <div class="medium-2 columns padding-5-top">
      <a href="#" class="optional-text-size js-car-select">Compare Cars</a>
    </div>
	</div>

  <div id="rental-return" class="row padding-10-top">
    <div class="medium-6 medium-offset-4 end columns">
      <a href="#" class="js-return-location">Add Return Location</a>
    </div>
  </div>

  <div class="row padding-10-top">
    <div class="medium-4 column form-label">
      <label for="carPickupDate">Collect On</label>
    </div>
    <div class="medium-6 column end">
      <input type="text" id="carPickupDate" class="collectOn" name="collectionDate" placeholder="DD/MM/YYYY" />
    </div>
  </div>

  <div class="row padding-10-top">
    <div class="medium-4 column form-label">
      <label for="carReturnDate">Return On</label>
    </div>
    <div class="medium-6 column end">
      <input type="text" id="carReturnDate" class="returnOn" name="carReturnDate" placeholder="DD/MM/YYYY" />
    </div>
  </div>

  <div class="row padding-10-top">
    <div class="medium-4 column form-label">
      <label for="carReturnDate">Avis AWD Number</label>
    </div>
    <div class="medium-6 column">
      <input id="carReturnDate" name="carReturnDate" />
    </div>
    <div class="medium-2 column end">
      <span class="optional-text-size text-italic">(optional)</span>
    </div>
  </div>

  <div class="row padding-10-top">
    <div class="medium-4 column form-label">
      <label for="carReturnDate">Avis Preferred Customer Number</label>
    </div>
    <div class="medium-6 column">
      <input id="carReturnDate" name="carReturnDate" />
    </div>
    <div class="medium-2 column end">
      <span class="optional-text-size text-italic">(optional)</span>
    </div>
  </div>

  <div class="row padding-10-top">
    <div class="medium-4 column form-label">
      <label for="carReturnDate">Avis Customer Name</label>
    </div>
    <div class="medium-6 column">
      <input id="carReturnDate" name="carReturnDate" />
    </div>
    <div class="medium-2 column end">
      <span class="optional-text-size text-italic">(optional)</span>
    </div>
  </div>

  <div class="row padding-10-top">
    <div class="medium-6 medium-offset-4 columns end">
      <button class="flat js-next">Next</button>
      <button class="secondary flat js-reset">Reset</button>
      <a href="#" class="js-cancel">Cancel</a>
    </div>
  </div>
